[submodule "SOSML-frontend"]
	path = SOSML-frontend
    url = https://github.com/SOSML/SOSML-frontend.git
    branch = main
[submodule "SOSML-webworker"]
	path = SOSML-webworker
	url = https://github.com/SOSML/SOSML-webworker.git
    branch = main
